---
layout: fomantic
masthead:
  title: JSON for Linking Data
  subtitle: >-
    Data is messy and disconnected. JSON-LD organizes and connects it,
    creating a better Web.
---


<div class="ui stackable grid">
  <div class="justified four wide column">
    <h2><i class="exchange alternate icon"></i> Linked Data</h2>
    <p>
      <a href="https://en.wikipedia.org/wiki/Linked_data">Linked Data</a>
      empowers people that publish and use information on the Web. It is a
      way to create a network of standards-based, machine-readable data across
      Web sites. It allows an application to start at one piece of Linked Data,
      and follow embedded links to other pieces of Linked Data that are hosted
      on different sites across the Web.
    </p>
  </div>
  <div class="eight wide column">
    <div class="ui segment">
      <a class="ui top right attached primary label"
        href="/playground/#startTab=tab-expanded&json-ld=%7B%22%40context%22%3A%22https%3A%2F%2Fjson-ld.org%2Fcontexts%2Fperson.jsonld%22%2C%22%40id%22%3A%22http%3A%2F%2Fdbpedia.org%2Fresource%2FJohn_Lennon%22%2C%22name%22%3A%22John%20Lennon%22%2C%22born%22%3A%221940-10-09%22%2C%22spouse%22%3A%5B%22http%3A%2F%2Fdbpedia.org%2Fresource%2FYoko_Ono%22%2C%22http%3A%2F%2Fdbpedia.org%2Fresource%2FCynthia_Lennon%22%5D%7D"
        >Open in Playground</a>
      <pre style="margin: 0 !important;">{
  "<span style="color: rgb(255, 122, 0);">@context</span>": "<a href="https://json-ld.org/contexts/person.jsonld">https://json-ld.org/contexts/person.jsonld</a>",
  "<span style="color: rgb(255, 122, 0);">@id</span>": "<a href="http://dbpedia.org/resource/John_Lennon">http://dbpedia.org/resource/John_Lennon</a>",
  "<span style="color: rgb(255, 122, 0);">name</span>": "<span style="color: rgb(0, 148, 0);">John Lennon</span>",
  "<span style="color: rgb(255, 122, 0);">born</span>": "<span style="color: rgb(0, 0, 175);">1940-10-09</span>",
  "<span style="color: rgb(255, 122, 0);">spouse</span>": [
    "<a href="http://dbpedia.org/resource/Yoko_Ono">http://dbpedia.org/resource/Yoko_Ono</a>",
    "<a href="http://dbpedia.org/resource/Cynthia_Lennon">http://dbpedia.org/resource/Cynthia_Lennon</a>"
  ]
}</pre></div>
  </div>
  <div class="justified four wide column">
    <h2><img class="ui micro inline image" src="images/json-ld-data-32.png" alt="JSON-LD logo"> JSON-LD</h2>
    <p>JSON-LD is a lightweight Linked Data format. It
      is easy for humans to read and write. It is based on the already
      successful JSON format and provides a way to help JSON data interoperate
      at Web-scale. JSON-LD is an ideal data format for programming
      environments, REST Web services, and unstructured databases such as
      Apache CouchDB and MongoDB.
    </p>
  </div>
</div>

<div class="ui large center aligned segment" style="margin: 3em auto">
  <div class="ui center aligned massive basic segment grid">
    <div class="ui header">
      <i class="beer icon"></i>
      <span class="content">Playground</span>
    </div>
  </div>
  <p class="ui basic huge left aligned padded segment">
    The <strong>JSON-LD Playground</strong> is a web-based JSON-LD viewer and debugger.
    If you are interested in learning JSON-LD, this tool will be of great help
    to you. Developers may also use the tool to debug, visualize, and share
    their JSON-LD markup.
  </p>
  <a href="./playground/" class="ui primary big button">Launch the JSON-LD Playground</a>
</div>

<div class="ui center aligned massive basic segment grid" id="developers">
  <div class="ui header">
    <i class="cog icon"></i>
    <span class="content">Developers</span>
  </div>
</div>

<p class="ui basic large center aligned segment">JSON-LD is available in
  a number of popular programming environments. Each implementation of JSON-LD
  listed below is fully conforming to the official JSON-LD specifications.
</p>

<div class="ui four stackable cards">
  {% include 'implementation-card' language: 'JavaScript' %}
  {% include 'implementation-card' language: 'Python' %}
  {% include 'implementation-card' language: 'Ruby' %}
  {% include 'implementation-card' language: 'Go' %}
  {% include 'implementation-card' language: 'Java' %}
  {% include 'implementation-card' language: 'C#' %}
  {% include 'implementation-card' applicationCategory: 'CLI' %}
  {% include 'implementation-card' language: 'Erlang,Elixir' %}
  {% include 'implementation-card' language: 'PHP' %}
  {% include 'implementation-card' language: 'Rust' %}
  {% include 'implementation-card' language: 'TypeScript' %}
</div>

<div class="ui basic center aligned segment" id="tests-description">
  <p>
    The <a href="https://w3c.github.io/json-ld-api/tests/">JSON-LD Test
    Suite</a> (and <a
    href="https://w3c.github.io/json-ld-framing/tests/">Framing Test Suite</a>)
    is useful for validating JSON-LD Processors.
  </p>
  <p>
    Conformance of various processors is documented in the official <a
    href="https://w3c.github.io/json-ld-api/reports/">implementation report</a>.
  </p>
</div>

<div class="ui center aligned massive basic segment grid" id="collaborating">
  <div class="ui header">
    <i class="seedling icon"></i>
    <span class="content">An Expanding Ecosystem</span>
  </div>
</div>
<p class="ui basic large center aligned segment">
  The data model and conventions introduced in JSON-LD can also apply to
  formats other than JSON. The JSON-LD Working Group is expanding the list
  of interoperable JSON-LD inspired formats to include YAML-LD and CBOR-LD.
</p>

<div class="ui large basic padded segment">
  <div class="ui two column grid">
    <div class="column">
      <h4 class="ui small header">YAML-LD</h4>
      <div class="ui compact text menu" style="margin-bottom: .5em">
        <div class="item">
          <i class="globe icon"></i>
          <a href="https://w3c.github.io/yaml-ld/spec/">Specification</a>
        </div>
        <div class="item">
          <i class="github icon"></i>
          <a href="https://github.com/w3c/yaml-ld/">Repo</a>
        </div>
      </div>
      <p>
        Human readable and, most importantly, writeable Linked Data using YAML
        (Yet Another Markup Language).
      </p>
      <div class="ui horizontal text menu">
        <a class="item" href="https://github.com/ruby-rdf/yaml-ld"><i class="gem icon"></i>Ruby</a>
        <a class="item" href="https://python-yaml-ld.iolanta.tech/"><i class="python icon"></i>Python</a>
      </div>
    </div>
    <div class="column">
      <h4 class="ui small header">CBOR-LD</h4>
      <div class="ui compact text menu" style="margin-bottom: .5em">
        <div class="item">
          <i class="globe icon"></i>
          <a href="https://w3c.github.io/cbor-ld/">Specification</a>
        </div>
        <div class="item">
          <i class="github icon"></i>
          <a href="https://github.com/w3c/cbor-ld/">Repo</a>
        </div>
      </div>
      <p>
        Tightly compressed binary representation of Linked Data for space
        constrained applications like QR codes, PDF417 barcodes, NFC tags, as
        well as streaming and embedded environment use cases.
      </p>
      <div class="ui horizontal text menu">
        <a class="item" href="https://github.com/digitalbazaar/cborld"><i class="js icon"></i>JavaScript</a>
        <a class="item" href="https://github.com/filip26/iridium-cbor-ld"><i class="java icon"></i>Java</a>
        <a class="item" href="https://github.com/spruceid/cbor-ld"><i class="rust icon"></i>Rust</a>
        <a class="item" href="https://gitlab.com/coswot/cborld-c"><i class="ui circular label">C</i></a>
    </div>
  </div>
</div>
<div class="ui center aligned massive basic segment grid" id="collaborating">
  <div class="ui header">
    <i class="group icon"></i>
    <span class="content">Getting Help / Collaborating</span>
  </div>
</div>

<div class="ui large basic padded segment">
  <div class="ui two column grid">
    <div class="column">
      <h4 class="ui small header">JSON-LD Community Group</h4>
      <div class="ui compact text menu" style="margin-bottom: .5em">
        <div class="item">
          <i class="mail icon"></i>
          <a href="https://lists.w3.org/Archives/Public/public-json-ld/">Mailing List</a>
        </div>
        <div class="item">
          <i class="calendar icon"></i>
          <a href="https://www.w3.org/groups/cg/json-ld/calendar/">Call Schedule</a>
        </div>
        <div class="item">
          <i class="github icon"></i>
          <a href="https://github.com/json-ld/">GitHub Organization</a>
        </div>
      </div>
      <p>
The <a
href="https://www.w3.org/groups/cg/json-ld/">JSON-LD Community Group</a> is an
excellent place to collaborate on JSON-LD technologies. Anyone may join the
group and participate on the mailing list, join discussion calls, and collaborate
on Community Group projects.
      </p>
    </div>
    <div class="column">
      <h4 class="ui small header">JSON-LD Working Group</h4>
      <div class="ui compact text menu" style="margin-bottom: .5em">
        <div class="item">
          <i class="mail icon"></i>
          <a href="https://lists.w3.org/Archives/Public/public-json-ld-wg/">Mailing List</a>
        </div>
        <div class="item">
          <i class="calendar icon"></i>
          <a href="https://www.w3.org/groups/wg/json-ld/calendar/">Call Schedule</a>
        </div>
        <div class="item">
          <i class="github icon"></i>
          <a href="https://github.com/search?q=topic%3Ajson-ld-wg+org%3Aw3c&type=Repositories">Specification Repositories</a>
        </div>
      </div>
      <p>
The W3C <a href="https://www.w3.org/groups/wg/json-ld/">JSON-LD Working
Group</a> is responsible for the formal specification of JSON-LD. The <a
href="https://www.w3.org/groups/wg/json-ld/charters/active/">most recent
charter</a> runs through <time datetime="2028-01-31">January 2028</time>. To
participate in this work, please <a
href="https://www.w3.org/Consortium/join">join the W3C</a> and then <a
href="https://www.w3.org/groups/wg/json-ld/instructions/">join the Working
Group</a>. Prior to joining, the <a
href="https://lists.w3.org/Archives/Public/public-json-ld-wg/">Working Group
mailing list</a> is visible to the public and participation in the <a
href="https://github.com/search?q=topic%3Ajson-ld-wg+org%3Aw3c&type=Repositories">specification
repositories</a> is encouraged.
      </p>
    </div>
  </div>
</div>

<div class="ui four stackable cards">
  <div class="card">
    <div class="content">
      <div class="header"><h3>Code</h3></div>
      <div class="description">
        <ul>
          <li><a href="https://github.com/json-ld/json-ld.org"><code>json-ld</code> GitHub Organization</a></li>
          <li><a href="https://github.com/search?q=topic%3Ajson-ld-wg+org%3Aw3c&type=Repositories">Specification Repositories</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header"><h3>Meetings and Minutes</h3></div>
      <div class="description">
        <ul>
          <li><a href="https://www.w3.org/groups/cg/json-ld/calendar/">Community Group Calls</a></li>
          <li><a href="https://www.w3.org/groups/wg/json-ld/calendar/">Working Group Calls</a></li>
          <li><a href="minutes/">Text and audio minutes</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header"><h3>Mailing Lists</h3></div>
      <div class="description">
        <ul>
          <li><a href="https://lists.w3.org/Archives/Public/public-json-ld/">Community Group Mailing List</a></li>
          <li><a href="https://lists.w3.org/Archives/Public/public-json-ld-wg/">Working Group Mailing List</a></li>
          <li><a href="http://lists.w3.org/Archives/Public/public-linked-json/">General <abbr title="Question and Answer">Q&A</abbr> List</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Discussion</div>
      <div class="description">
        <ul>
          <li><a href="https://irc.w3.org/?channels=#json-ld">#json-ld on irc.w3.org</a></li>
          <li><a href="https://github.com/orgs/json-ld/discussions">Discussions on GitHub</a></li>
      </div>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui center aligned massive basic segment grid" id="learn-more">
  <div class="ui header">
    <i class="book icon"></i>
    <span class="content">Learn More...</span>
  </div>
</div>

<div class="ui large basic center aligned segment">
  <p>
  This website contains a number of curated video, presentations, tutorials, and
  documentation about JSON-LD. Assuming you are familiar with JSON, these
  training materials will help you quickly put the power of JSON-LD into your
  web development efforts.
  </p>
  <p>
    <a class="ui primary button" href="./learn/">Learn more about JSON-LD</a>
  </p>
</div>
