---
layout: fomantic
masthead:
  title: JSON for Linking Data
  subtitle: >-
    Data is messy and disconnected. JSON-LD organizes and connects it,
    creating a better Web.
---


<div class="ui stackable grid">
  <div class="justified four wide column">
    <h2><i class="exchange alternate icon"></i> Linked Data</h2>
    <p>
      <a href="https://en.wikipedia.org/wiki/Linked_data">Linked Data</a>
      empowers people that publish and use information on the Web. It is a
      way to create a network of standards-based, machine-readable data across
      Web sites. It allows an application to start at one piece of Linked Data,
      and follow embedded links to other pieces of Linked Data that are hosted
      on different sites across the Web.
    </p>
  </div>
  <div class="eight wide column">
    <pre class="ui segment">{
  "<span style="color: rgb(255, 122, 0);">@context</span>": "<a href="https://json-ld.org/contexts/person.jsonld">https://json-ld.org/contexts/person.jsonld</a>",
  "<span style="color: rgb(255, 122, 0);">@id</span>": "<a href="http://dbpedia.org/resource/John_Lennon">http://dbpedia.org/resource/John_Lennon</a>",
  "<span style="color: rgb(255, 122, 0);">name</span>": "<span style="color: rgb(0, 148, 0);">John Lennon</span>",
  "<span style="color: rgb(255, 122, 0);">born</span>": "<span style="color: rgb(0, 0, 175);">1940-10-09</span>",
  "<span style="color: rgb(255, 122, 0);">spouse</span>": [
    "<a href="http://dbpedia.org/resource/Yoko_Ono">http://dbpedia.org/resource/Yoko_Ono</a>",
    "<a href="http://dbpedia.org/resource/Cynthia_Lennon">http://dbpedia.org/resource/Cynthia_Lennon</a>"
  ]
}</pre>
  </div>
  <div class="justified four wide column">
    <h2><img class="ui micro inline image" src="images/json-ld-data-32.png" alt="JSON-LD logo"> JSON-LD</h2>
    <p>JSON-LD is a lightweight Linked Data format. It
      is easy for humans to read and write. It is based on the already
      successful JSON format and provides a way to help JSON data interoperate
      at Web-scale. JSON-LD is an ideal data format for programming
      environments, REST Web services, and unstructured databases such as
      Apache CouchDB and MongoDB.
    </p>
  </div>
</div>

<div class="ui large center aligned segment" style="margin: 3em auto">
  <div class="ui center aligned massive basic segment grid">
    <div class="ui header">
      <i class="beer icon"></i>
      <span class="content">Playground</span>
    </div>
  </div>
  <p class="ui basic huge left aligned padded segment">
    The <strong>JSON-LD Playground</strong> is a web-based JSON-LD viewer and debugger.
    If you are interested in learning JSON-LD, this tool will be of great help
    to you. Developers may also use the tool to debug, visualize, and share
    their JSON-LD markup.
  </p>
  <a href="./playground/" class="ui primary big button">Launch the JSON-LD Playground</a>
</div>

<div class="ui center aligned massive basic segment grid" id="developers">
  <div class="ui header">
    <i class="cog icon"></i>
    <span class="content">Developers</span>
  </div>
</div>

<p class="ui basic large center aligned segment">JSON-LD is available in
  a number of popular programming environments. Each implementation of JSON-LD
  listed below is fully conforming to the official JSON-LD specifications.
</p>

<div class="ui four stackable cards">
  {% include 'implementation-card' language: 'JavaScript' %}
  {% include 'implementation-card' language: 'Python' %}
  {% include 'implementation-card' language: 'Ruby' %}
  {% include 'implementation-card' language: 'Go' %}
  {% include 'implementation-card' language: 'Java' %}
  {% include 'implementation-card' language: 'C#' %}
  {% include 'implementation-card' applicationCategory: 'CLI' %}
  {% include 'implementation-card' language: 'Erlang,Elixir' %}
  {% include 'implementation-card' language: 'PHP' %}
  {% include 'implementation-card' language: 'Rust' %}
  {% include 'implementation-card' language: 'TypeScript' %}
</div>

<div class="ui basic center aligned segment" id="tests-description">
  <p>
    The <a href="https://w3c.github.io/json-ld-api/tests/">JSON-LD Test
    Suite</a> (and <a
    href="https://w3c.github.io/json-ld-framing/tests/">Framing Test Suite</a>)
    is useful for validating JSON-LD Processors.
  </p>
  <p>
    Conformance of various processors is documented in the official <a
    href="https://w3c.github.io/json-ld-api/reports/">implementation report</a>.
  </p>
</div>

<div class="ui center aligned massive basic segment grid" id="collaborating">
  <div class="ui header">
    <i class="group icon"></i>
    <span class="content">Getting Help / Collaborating</span>
  </div>
</div>

<div class="ui large basic padded segment">
  <p>
    <strong>JSON-LD 1.1</strong> was being formally specified by the <a
    href="https://www.w3.org/2018/json-ld-wg/"><strong>W3C JSON-LD Working
    Group</strong></a>. Although the Working Group has completed, it remains
    open as a <a
    href="https://www.w3.org/2023/01/json-ld-wg-charter.html">Maintanence
    Group</a> and may release revised specifications in the future. To
    participate in this work, please <a
    href="https://www.w3.org/Consortium/join">join the W3C</a> and then join the
    Working Group. The <a
    href="https://lists.w3.org/Archives/Public/public-json-ld-wg/">Working Group
    mailing list</a> is visible to the public and participation in the <a
    href="https://github.com/search?q=topic%3Ajson-ld-wg+org%3Aw3c&type=Repositories">specification
    repositories</a> is encouraged. Additionally, discussions and exploration
    continue in the Community Group spaces mentioned below.
  </p>
  <div class="ui divider"></div>
  <p>
    JSON-LD has been developed by the W3C <a
    href="http://www.w3.org/community/json-ld/">JSON-LD Community Group</a>. It
    is a <a href="http://www.w3.org/TR/json-ld/">W3C Recommendation</a> as of 16
    January 2014. Participation is open to the public. There is a <a
    href="https://github.com/json-ld">JSON-LD GitHub repository</a>. If you need
    immediate help, we have a <a
    href="https://irc.w3.org/?channels=#json-ld">#json-ld</a> IRC support
    channel on irc.w3.org and a <a
    href="https://gitter.im/json-ld/json-ld.org">Gitter channel</a>. There is
    also a <a
    href="http://lists.w3.org/Archives/Public/public-linked-json/">JSON-LD
    mailing list</a>. All weekly meetings are open to the public, and are <a
    href="https://json-ld.org/minutes/">minuted, recorded, and archived</a>.
    Listed below are all of the communication tools that the community uses on a
    weekly basis.
  </p>
</div>

<div class="ui four stackable cards">
  <div class="card">
    <div class="content">
      <div class="header"><h3>Code</h3></div>
      <div class="description">
        <a href="https://github.com/json-ld/json-ld.org">json-ld on GitHub</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header"><h3>Meetings</h3></div>
      <div class="description">
        <a href="minutes/">Text and audio minutes</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header"><h3>Mailing List</h3></div>
      <div class="description">
        <a href="http://lists.w3.org/Archives/Public/public-linked-json/">public-linked-json@w3.org</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header"><h3>Chat</h3></div>
      <div class="description">
        <a href="https://irc.w3.org/?channels=#json-ld">#json-ld on irc.w3.org</a><br>
        <a href="https://gitter.im/json-ld/json-ld.org">Gitter</a>
      </div>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui center aligned massive basic segment grid" id="learn-more">
  <div class="ui header">
    <i class="book icon"></i>
    <span class="content">Learn More...</span>
  </div>
</div>

<div class="ui large basic center aligned segment">
  <p>
  This website contains a number of curated video, presentations, tutorials, and
  documentation about JSON-LD. Assuming you are familiar with JSON, these
  training materials will help you quickly put the power of JSON-LD into your
  web development efforts.
  </p>
  <p>
    <a class="ui primary button" href="./learn/">Learn more about JSON-LD</a>
  </p>
</div>
