/* JSON-LD CSS */

@font-face {
font-family: "aller-bold";
src: url("fonts/Aller_Bd.ttf");
}

* {
margin: 0;
padding: 0;
}

html {
}

body {
color: #333;
background-color: #fff;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 16px;
}

a {
color: #3b5998;
text-decoration: none;
outline-style: none;
}

a:hover, a:active {
text-decoration: underline;
}

h1 {
font-size: 2.0em;
font-family: "aller-bold", Georgia, Serif;
margin-top: .5em;
margin-bottom: .5em;
}

h2 {
margin-top: .5em;
margin-bottom: .5em;
}

p {
margin: 10px 0;
/*font-family: "Georgia", Times, serif;*/
}

.tagline {
   font-style: italic;
   font-family: Georgia, serif;
   font-size: 2em;
   margin: 20px;
}

.breadcrumbs {
   margin: 12px 12px;
}

ul, ol {
margin: 0 2em;
}

.hidden {
display: none;
}

.banner {
float: left;
}

#header {
position: relative;
height: 80px;
color: #fff;
background-color: #593b98;
}

#header>div {
width: 960px;
margin: 0 auto;
}

#header h1 {
position: relative;
float: right;
margin-top: 25px;
margin-right: 25px;
font-size: 32px;
}

#header a {
color: #fff;
}

#content {
width: 960px;
margin: 0 auto;
padding: 10px 10px;
}

#footer {
width: 960px;
margin: 20px auto 0;
color: #bbb;
border-top: 1px solid #ccc;
}

#footer p {
margin: 10px;
font-size: 0.8em;
}

#copyright {
float: left;
}

#copyright a {
color: #aaa;
}

#legal {
float: right;
}

.box {
margin-bottom: 20px;
padding: 20px;
border-bottom: 1px solid #ddd;
}

table.images td {
border: 1px solid black;
padding: .4em;
}

table.images td.image {
text-align: center;
}
