<div class="card">
  <div class="content">
  <div class="header"><h3>{% if language %}{{ language | split: ',' | join: ' / ' }}{% else %}{{ applicationCategory }}{% endif %}</h3></div>
    <div class="description">
      <div class="ui selection list">
        {% if language %}
          {% assign languages = language | split: ',' %}
          {% assign langExp = nil %}
          {% for lang in languages %}
            {% assign prefixed = lang | prepend: "imp.language contains '" | append: "'" %}
            {% assign langExp = langExp | concat: prefixed %}
          {% endfor %}
          {% assign expression = langExp | join: ' or ' %}
          {% assign imps = implementations | where_exp: 'imp', expression | where_exp: 'imp', 'imp.applicationCategory != "CLI"' %}
        {% else %}
          {% assign imps = implementations | where: 'applicationCategory', applicationCategory %}
        {% endif %}
        {% for implementation in imps %}
        {% include 'implementation-item' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
