<div class="item" typeof="schema:SoftwareSourceCode">
  <a property="schema:codeRepository" href="{{ implementation.repo }}">
    <span property="schema:name">{{ implementation.name }}</span>
    <span class="ui label{% unless implementation.state == 'InProgress' %}{% if implementation.jsonldVersion == 1.1 %} green{% else %} blue{% endif %}{% endunless %}">
      {%- if implementation.jsonldVersion == 1.0 -%}
        1.0
      {%- else -%}
        {{ implementation.jsonldVersion }}{% if implementation.state == 'InProgress' %} (<abbr title="Work In Progress">WIP</abbr>){% endif %}
      {%- endif -%}
    </span>
  </a>
</div>
