<FilesMatch "(event|person|place|recipe|\.jsonld)$">
   ForceType application/ld+json
   SetHandler default_handler
   Header add Access-Control-Allow-Origin *
   Header add Access-Control-Allow-Headers "Content-Type, Link"
</FilesMatch>
