RewriteEngine On
RewriteRule ^(.*)(event|person|place|recipe)$ $1$2.jsonld

<FilesMatch "\.jsonld$">
   ForceType application/ld+json
   SetHandler default_handler
   Header add Access-Control-Allow-Origin *
</FilesMatch>
