<FilesMatch "(event|person|place|recipe|\.jsonld)$">
   ForceType application/ld+json
   SetHandler default_handler
   Header add Access-Control-Allow-Origin *
</FilesMatch>

Redirect 301 /contexts/schema.org.jsonld http://schema.org/
