RewriteEngine On

RewriteBase /spec/latest/
RewriteRule ^json-ld-syntax(.*) json-ld$1 [R=301,NC,L]

RewriteRule ^rdf-graph-normalization(.*) rdf-dataset-normalization$1 [R=301,NC,L]
RewriteRule ^rdf-dataset-normalization/(.*) https://json-ld.github.io/normalization/spec/$1 [R=307,NC,L]
