RewriteEngine On

RewriteBase /spec/latest/
RewriteRule ^json-ld-syntax(.*) json-ld$1 [R=301,NC,L]

RewriteRule ^json-ld/(.*) http://www.w3.org/TR/json-ld/$1 [R=307,NC,L]
RewriteRule ^json-ld-api/(.*) http://www.w3.org/TR/json-ld-api/$1 [R=307,NC,L]

RewriteRule ^rdf-graph-normalization(.*) rdf-dataset-normalization$1 [R=301,NC,L]
