/**
 * Styling for the JSON-LD playground UI.
 */
textarea:focus, input:focus {
  border: 2px solid #900;
}

textarea {
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
  width:99% !important;
  min-height:200px !important;
}

textarea.compressed {
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
  width:49% !important;
  min-height:200px !important;
}

.clear { /* generic container (i.e. div) for floating buttons */
  overflow: hidden;
  width: 100%;
}

.input-header {
  overflow: hidden;
  width: 100%;
  padding-top: 10px;
}  

.input-header .left {
  display: inline-block;
}

.input-header .right {
  display: inline-block;
  float: right;
  width: 49% !important;
}

.errors {
  font-style: bold;
  color: red;
}

li.button-list {
  display: block;
  float: left;
  margin-right: 6px;
}

li.button {
  background: transparent url('images/bg_button.gif') no-repeat scroll top right;
  color: #444;
  display: block;
  float: left;
  font: normal 12px arial, sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
  cursor: pointer;
}

li.button span {
  background: transparent url('images/bg_button_span.gif') no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 0 5px 18px;
}

li.button:active {
  background-position: bottom right;
  color: #000;
  outline: none; /* hide dotted outline in Firefox */
}

li.button:active span {
  background-position: bottom left;
  padding: 6px 0 4px 18px; /* push text down 1px */
}

#permalink {
  text-align: right;
}


/* Overrides for standard prettify.css */

.prettyprint {
  font-size: 0.8em;
  overflow: auto;
}

#frame {display: none;}
