.jumbotron { text-align: center; }

#frame-div{ display: none; }
#tabs{ margin-bottom: 0; }
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover{
  background-color: #fff;
}


.btn.resizer{
  cursor: row-resize;
  padding: .5px;
  width: 100%;
  display: block;
}

.popover .label{
  font-family: monospace;
  margin: 1px;
  padding: 5px;
}

/*
  auto-resize bootstrap popovers from
  http://stackoverflow.com/questions/15776487/bootstrap-popover-width-for-popover-inner
 */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 600px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.editor-options > * {
  margin-top: 10px;
}

#page-playground .editor-option {
  margin-bottom: 0;
}

#page-playground .editor-option .btn {
  padding: 1px 5px 0px 5px;
}

#page-playground .read-only {
  opacity: .6;
}

#copy-context {
  padding: 0px 4px;
  float: left;
}

#markup-container, #output-container {
  margin-top: 1em;
}
