<!DOCTYPE html>
<html
  prefix="
    xhv: http://www.w3.org/1999/xhtml/vocab#
    xsd: http://www.w3.org/2001/XMLSchema#
    rdfs: http://www.w3.org/2000/01/rdf-schema#
    dc: http://purl.org/dc/terms/
    vcard: http://www.w3.org/2006/vcard/ns#
    v: http://rdf.data-vocabulary.org/#"
  lang="en" >
  <head>
    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <!-- Style Sheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- Script tags -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-{{ ga | default: '42886053' }}-1', 'json-ld.org');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md sticky-top bg-body">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img class="align-text-top" src="/images/json-ld-data-24.png" alt="JSON-LD logo">
          JSON-LD
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if page.url == '/playground/' %}active{% endif %}" href="/playground/"><i class="fa-solid fa-beer-mug-empty"></i> Playground</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page.url == '/learn/' %}active{% endif %}" href="/learn/"><i class="fa-solid fa-book"></i> Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page.url == '/spec/' %}active{% endif %}" href="/#developers"><i class="fa-solid fa-flask"></i> Developers</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-folder-open"></i> Specifications</a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"><strong>W3C Recommendations</strong></li>
                <li><a class="dropdown-item" href="https://www.w3.org/TR/json-ld/">Syntax</a></li>
                <li><a class="dropdown-item" href="https://www.w3.org/TR/json-ld-api/">Processing Algorithms and API</a></li>
                <li><a class="dropdown-item" href="https://www.w3.org/TR/json-ld-framing/">Framing</a></li>
                <li><hr class="dropdown-divider"></li>
                <li class="dropdown-header"><strong>Latest Drafts</strong></li>
                <li><a class="dropdown-item" href="https://w3c.github.io/json-ld-syntax/">Syntax</a></li>
                <li><a class="dropdown-item" href="https://w3c.github.io/json-ld-api/">Processing Algorithms and API</a></li>
                <li><a class="dropdown-item" href="https://w3c.github.io/json-ld-framing/">Framing</a></li>
                <li><a class="dropdown-item" href="https://w3c.github.io/json-ld-bp/">Best Practices</a></li>
                <li><a class="dropdown-item" href="https://w3c.github.io/json-ld-streaming/">Streaming</a></li>
                <li><a class="dropdown-item" href="https://json-ld.github.io/json-ld-star/">JSON-LD-star</a></li>
                <li><a class="dropdown-item" href="https://w3c.github.io/json-ld-cbor/">CBOR</a></li>
                <li><a class="dropdown-item" href="https://github.com/w3c/json-ld-rc/">Recommended Context</a></li>
                <li><a class="dropdown-item" href="https://w3c.github.io/yaml-ld/">YAML-LD</a></li>
                <li><a class="dropdown-item" href="/spec/">1.0 drafts (historic)</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if page.url == '/images/' %}active{% endif %}" href="#"><i class="fa-solid fa-image"></i> Branding</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}

    <!-- Script tags -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
  </body>
</html>
